In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("insurance_pre.csv")

In [4]:
data=pd.get_dummies(data,drop_first=True)

In [5]:
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
data.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=data[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
dependent=data[['charges']]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import AdaBoostRegressor
regressor=AdaBoostRegressor(n_estimators=3,loss="linear")

grid_params={"loss":['linear','square','exponential'],"n_estimators":[10,100]}
grid=GridSearchCV(AdaBoostRegressor(),grid_params,refit=True,verbose=3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 6 candidates, totalling 30 fits

C:\Users\venka\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=AdaBoostRegressor(), n_jobs=-1,
             param_grid={'loss': ['linear', 'square', 'exponential'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [11]:
results=grid.cv_results_

In [12]:
results

{'mean_fit_time': array([0.16873837, 0.10311871, 0.12499166, 0.78119364, 0.10936747,
        0.73432293]),
 'std_fit_time': array([0.0673098 , 0.02338431, 0.00988242, 0.0942615 , 0.01976318,
        0.05676482]),
 'mean_score_time': array([0.02187285, 0.02499804, 0.00937433, 0.0593709 , 0.018749  ,
        0.03749814]),
 'std_score_time': array([0.02119253, 0.01593339, 0.00765411, 0.01822033, 0.00624847,
        0.01249902]),
 'param_loss': masked_array(data=['linear', 'linear', 'square', 'square', 'exponential',
                    'exponential'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[10, 100, 10, 100, 10, 100],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'loss': 'linear', 'n_estimators': 10},
  {'loss': 'linear', 'n_estimators': 100},
  {'loss': 'square', 'n_estimators': 10},
  {'loss': 'square', 'n_estimators': 100},
  {'loss': 'exponential', 'n_estimators': 10},
  {'loss': 'exponential', 'n_estimators': 100}],
 'split0_test_score': array([0.81936574, 0.81126156, 0.62640474, 0.28038676, 0.78776171,
        0.38315197]),
 'split1_test_score': array([0.76956159, 0.78301134, 0.54857614, 0.37553059, 0.73860891,
        0.45286476]),
 'split2_test_score': array([0.78805287, 0.81097163, 0.6829857 , 0.5009309 , 0.78386946,
        0.51885473]),
 'split3_test_score': array([0.80523412, 0.79198273, 0.62870442, 0.33612012, 0.7714508 ,
        0.44202338]),
 'split4_test_score': array([0.79117366, 0.78755323, 0.72887229, 0.55205705, 0.78013069,
        0.61606761]),
 'mean_test_score': array([0.7946776 , 0.7969561 , 0.64310866, 0.40900509, 0.77236431,
        0.48259249]),
 'std_test_score': array([0.01678048, 0.01190534, 0.06061102, 0.10187213, 0.0177202 ,
        0.0794337 ]),
 'rank_test_score': array([2, 1, 4, 6, 3, 5])}

In [13]:
print("The RScore value for Tuning Parameter {} :".format(grid.best_params_))

The RScore value for Tuning Parameter {'loss': 'linear', 'n_estimators': 100} :

In [14]:
ypred=grid.predict(x_test)

In [15]:
from sklearn.metrics import r2_score
rscore=r2_score(y_test,ypred)

In [16]:
rscore

0.847562494519012

In [22]:
table=pd.DataFrame.from_dict(results)

In [23]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_loss,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.168738,0.067310,0.021873,0.021193,linear,10,"{'loss': 'linear', 'n_estimators': 10}",0.819366,0.769562,0.788053,0.805234,0.791174,0.794678,0.016780,2
1,0.103119,0.023384,0.024998,0.015933,linear,100,"{'loss': 'linear', 'n_estimators': 100}",0.811262,0.783011,0.810972,0.791983,0.787553,0.796956,0.011905,1
2,0.124992,0.009882,0.009374,0.007654,square,10,"{'loss': 'square', 'n_estimators': 10}",0.626405,0.548576,0.682986,0.628704,0.728872,0.643109,0.060611,4
3,0.781194,0.094261,0.059371,0.018220,square,100,"{'loss': 'square', 'n_estimators': 100}",0.280387,0.375531,0.500931,0.336120,0.552057,0.409005,0.101872,6
4,0.109367,0.019763,0.018749,0.006248,exponential,10,"{'loss': 'exponential', 'n_estimators': 10}",0.787762,0.738609,0.783869,0.771451,0.780131,0.772364,0.017720,3
5,0.734323,0.056765,0.037498,0.012499,exponential,100,"{'loss': 'exponential', 'n_estimators': 100}",0.383152,0.452865,0.518855,0.442023,0.616068,0.482592,0.079434,5

In [25]:
age_input=float(input("Age : "))
bmi_input=float(input("BMI : "))
child_input=int(input("Children: "))
sex_input=int(input("Sex Male 0 or 1 : "))
smoker_s_input=int(input("Smoker yes 0 or 1 : "))

Age : 33
BMI : 31
Children: 2
Sex Male 0 or 1 : 1
Smoker yes 0 or 1 : 1

In [26]:
future_predict=grid.predict([[age_input,bmi_input,child_input,sex_input,smoker_s_input]])
print("Future Prediction is: {}".format(future_predict))

Future Prediction is: [40843.49773043]

C:\Users\venka\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but AdaBoostRegressor was fitted with feature names
  warnings.warn(